.Rproj.user
.Rhistory
.RData
.Ruserdata
data
documents
figures
work
old
sono_for_other_people
weird_calls
time_space_modeltest
*.pdf
*.wav
*.rda
*.rds
*.csv
*.txt
*.wsp
*.xslx
*.png
*.jpg
*.html
*.docx
